rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: These rules are permissive for initial testing only.
    // Restrict appropriately before going to production.

    match /{document=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}
